{% load static %}
{% include 'base.html' %}
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>Главная страница</title>
</head>
<style>
    .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 72px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
    }

    .pinned-news, .regular-news {
        margin-bottom: 40px;
    }

    .sub-title {
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .item-image {
        background-size: cover;
        background-position: center;
        height: 200px;
        border-radius: 8px;
    }

    .news-date {
        color: #777;
        font-size: 14px;
    }

    .news-title {
        font-size: 20px;
        margin-top: 10px;
    }

    .news-description {
        margin-top: 10px;
        color: #333;
    }


    .divider hr {
        border: 1px solid #ddd;
        margin: 40px 0;
    }

    .pinned-news .pinned-icon {
        color: #d9534f;
        margin-right: 8px;
        font-size: 2.2em;
        vertical-align: middle;
    }

    .news-header {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }
</style>
<body>
<div class="preloader">
    <div class="preloader-body">
        <div class="loader">
            <img class="preloader-ico" src="{% static 'images/sfpd.ico' %}" alt="">
        </div>
        <H5>Загрузка...</H5>
    </div>
</div>
<div class="page">
    {% include 'include/navbar.html' %}
    <section class="section swiper-container swiper-slider swiper-slider-1 context-dark" data-loop="true"
             data-autoplay="5000" data-simulate-touch="false">
        <div class="swiper-wrapper">
            <div class="swiper-slide " data-slide-bg="{% static 'images/policeacademy/bg-pa-main.png' %}">
                <div class="swiper-slide-caption section-lg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                                <h1><span class="d-block text-with-border" data-caption-animate="fadeInUp"
                                          data-caption-delay="100">Police Academy</span><span
                                        class="d-block text-light text-with-border" data-caption-animate="fadeInUp"
                                        data-caption-delay="200">Curator of PA</span></h1>
                                <p class="lead text-with-border" data-caption-animate="fadeInUp"
                                   data-caption-delay="350">James Gurinifero</p>
                                <div class="button-wrap-default" data-caption-animate="fadeInUp"
                                     data-caption-delay="450">
                                    <a class="button button-secondary-pa" href="{% url 'departments:pa_detail' %}">Читать
                                        далее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-slide-bg="{% static 'images/cpd/bg-cpd-main.png' %}">
                <div class="swiper-slide-caption section-lg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                                <h1><span class="d-block text-with-border" data-caption-animate="fadeInUp"
                                          data-caption-delay="100">Central Patrol Division</span><span
                                        class="d-block text-light text-with-border" data-caption-animate="fadeInUp"
                                        data-caption-delay="200">Curator of CPD</span></h1>
                                <p class="lead text-with-border" data-caption-animate="fadeInUp"
                                   data-caption-delay="350">Vladik Pavlenko</p>
                                {#                                <p class="lead" data-caption-animate="fadeInUp" data-caption-delay="350">#}
                                {#                                    Вакантно</p>#}
                                <div class="button-wrap-default" data-caption-animate="fadeInUp"
                                     data-caption-delay="450"><a class="button button-secondary-cpd"
                                                                 href="{% url 'departments:cpd_detail' %}">Читать
                                    далее</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide"
                 data-slide-bg="{% static 'images/DB/bg-db-main1.png' %}">
                <div class="swiper-slide-caption section-lg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                                <h1><span class="d-block text-with-border" data-caption-animate="fadeInUp"
                                          data-caption-delay="100">Detective Bureau</span><span
                                        class="d-block text-light text-with-border" data-caption-animate="fadeInUp"
                                        data-caption-delay="200">Curator of DB</span></h1>
                                <p class="lead text-with-border" data-caption-animate="fadeInUp"
                                   data-caption-delay="350">Darion Mograine</p>
                                {#                                <p class="lead" data-caption-animate="fadeInUp" data-caption-delay="350">#}
                                {#                                    Вакантно</p>#}
                                <div class="button-wrap-default" data-caption-animate="fadeInUp"
                                     data-caption-delay="450"><a class="button button-secondary-text"
                                                                 href="{% url 'departments:db_detail' %}">Читать
                                    далее</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide"
                 data-slide-bg="{% static 'images/swat/bg-swat-main4.png' %}">
                <div class="swiper-slide-caption section-lg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                                <h1><span class="d-block text-with-border" data-caption-animate="fadeInUp"
                                          data-caption-delay="100">SWAT</span><span
                                        class="d-block text-light text-with-border" data-caption-animate="fadeInUp"
                                        data-caption-delay="200">Curator of SWAT</span></h1>
                                <p class="lead text-with-border" data-caption-animate="fadeInUp"
                                   data-caption-delay="350">Elio Druf</p>
                                {#                                <p class="lead" data-caption-animate="fadeInUp" data-caption-delay="350">#}
                                {#                                    Вакантно</p>#}
                                <div class="button-wrap-default" data-caption-animate="fadeInUp"
                                     data-caption-delay="450"><a class="button button-secondary-swat"
                                                                 href="{% url 'departments:swat_detail' %}">Читать
                                    далее</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Swiper Pagination-->
        <div class="swiper-pagination-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-sm section-sm-bottom-100 bg-primary text-center">
        <div class="container">
            <div class="row row-30">
                <div class="col-md-4 wow fadeInUp">
                    <div class="box-icon-2">
                        <i class="large material-icons">location_city</i>
                        <h5 class="title">Профессиональное обучение</h5>
                        <p class="text">Мы обеспечиваем высококачественное обучение наших сотрудников, чтобы они были
                            готовы к любым вызовам в службе и на улицах San-Fierro.</p>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="box-icon-2">
                        <div class="icon novi-icon mercury-icon-phone-24"></div>
                        <h5 class="title">Безопасность граждан</h5>
                        <p class="text">Наша цель - обеспечить безопасность всех жителей San-Fierro, борясь с
                            преступностью и поддерживая общественный порядок.</p>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="box-icon-2">
                        <div class="icon novi-icon mercury-icon-partners"></div>
                        <h5 class="title">Совместное взаимодействие</h5>
                        <p class="text">Мы стремимся к сотрудничеству с нашими сообществами, чтобы создать безопасное и
                            устойчивое окружение для всех жителей и посетителей города San-Fierro.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="parallax-container box-image-left" data-parallax-img="{% static 'images/main-bgr.png' %}">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInLeft">
                    <div class="section-lg section-lg-top-100">
                        <h2 class="title-icon title-icon-2" style="color: white"><span
                                class="icon icon-default mercury-icon-touch"></span><span>Играй с нами<br><span
                                class="text-light">Вступай в SFPD</span></span></h2>
                        <p class="big">Ниже представлены официальные приложения проекта Evolve Role Play для совместной
                            игры в нашем департаменте</p>
                        <div class="group-sm group-wrap-2">
                            <a
                                    class="button button-icon button-icon-right button-secondary"
                                    href="https://launcher.evolve-rp.net/EvolveSetup.exe"><span>Скачать лаунчер</span><span
                                    class="icon fa fa-cogs"></span></a>
                            <a
                                    class="button button-icon button-icon-right button-secondary"
                                    href="https://launcher.evolve-rp.net/MOBILE/launcher.apk"><span>Скачать APK</span><span
                                    class="icon fa fa-android"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-image-item box-image-video novi-background bg-image"><a
                class="icon novi-icon fa fa-youtube-play"
                href="https://youtu.be/45nyCjUQIeU"
                data-lightgallery="item"></a></div>
    </section>
    <section class="section bg-default section-md">
        <div class="container">
            <div class="row row-30">
                <div class="col-md-6">
                    <h2 class="title-icon"><span class="icon icon-default mercury-icon-target-2"></span><span>Наша <span
                            class="text-light">Миссия</span></span></h2>
                    <p class="big">Наша миссия - предоставить уникальную возможность для Вас испытать себя в роли
                        полицейских, развивая
                        навыки, необходимые для поддержания правопорядка и безопасности в городе San-Fierro. Наша
                        команда стремится к тому, чтобы каждый сотрудник получил максимальный опыт, обучаясь
                        профессионализму, ответственности и взаимодействию в команде. Присоединяйтесь к нам и станьте
                        частью захватывающего мира, где каждый день приносит новые вызовы и победы!</p>
                    <ul class="list-marked-2">
                        <li>Обучение высококлассным навыкам патрулирования и охраны порядка</li>
                        <li>Поддержка профессионального роста и развития сотрудников</li>
                        <li>Предоставление полной помощи и сопровождения для всех сотрудников департамента</li>
                    </ul>
                    <a class="button button-primary" href="{% url 'departments:about' %}">Читать далее</a>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-6">
                            <!--Box counter-->
                            <div class="box-counter">
                                <div class="box-counter-main">
                                    <div class="counter">1000+</div>
                                </div>
                                <p class="box-counter-title">Обученых сотрудников</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <!--Box counter-->
                            <div class="box-counter">
                                <div class="box-counter-main">
                                    <div class="counter">23</div>
                                </div>
                                <p class="box-counter-title">Наша команда</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <!--Box counter-->
                            <div class="box-counter">
                                <div class="box-counter-main">
                                    <div class="counter">1500+</div>
                                </div>
                                <p class="box-counter-title">Принятых заявлений от граждан</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <!--Box counter-->
                            <div class="box-counter">
                                <div class="box-counter-main">
                                    <div class="counter">99</div>
                                    <span>%</span>
                                </div>
                                <p class="box-counter-title">Уровень удовлетворенности</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="parallax-container" data-parallax-img="{% static 'images/parallax.png' %}">
        <div class="parallax-content section-xl context-dark text-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-xl-9">
                        <h2>San-Fierro Police Department <span class="text-light">существует уже</span></h2>
                        <!--TimeCircles-->
                        <div class="countdown" data-countdown data-to="2017-02-19">
                            <div class="countdown-block countdown-block-days">
                                <svg class="countdown-circle" x="0" y="0" width="200" height="200" viewbox="0 0 200 200"
                                     data-progress-days="">
                                    <circle class="countdown-circle-bg" cx="100" cy="100" r="90"></circle>
                                    <circle class="countdown-circle-fg clipped" cx="100" cy="100" r="90"></circle>
                                </svg>
                                <div class="countdown-wrap">
                                    <div class="countdown-counter" data-counter-days="">00</div>
                                    <div class="countdown-title">Дней</div>
                                </div>
                            </div>
                            <div class="countdown-block countdown-block-hours">
                                <svg class="countdown-circle" x="0" y="0" width="200" height="200" viewbox="0 0 200 200"
                                     data-progress-hours="">
                                    <circle class="countdown-circle-bg" cx="100" cy="100" r="90"></circle>
                                    <circle class="countdown-circle-fg clipped" cx="100" cy="100" r="90"></circle>
                                </svg>
                                <div class="countdown-wrap">
                                    <div class="countdown-counter" data-counter-hours="">00</div>
                                    <div class="countdown-title">Часов</div>
                                </div>
                            </div>
                            <div class="countdown-block countdown-block-minutes">
                                <svg class="countdown-circle" x="0" y="0" width="200" height="200" viewbox="0 0 200 200"
                                     data-progress-minutes="">
                                    <circle class="countdown-circle-bg" cx="100" cy="100" r="90"></circle>
                                    <circle class="countdown-circle-fg clipped" cx="100" cy="100" r="90"></circle>
                                </svg>
                                <div class="countdown-wrap">
                                    <div class="countdown-counter" data-counter-minutes="">00</div>
                                    <div class="countdown-title">Минут</div>
                                </div>
                            </div>
                            <div class="countdown-block countdown-block-seconds">
                                <svg class="countdown-circle" x="0" y="0" width="200" height="200" viewbox="0 0 200 200"
                                     data-progress-seconds="">
                                    <circle class="countdown-circle-bg" cx="100" cy="100" r="90"></circle>
                                    <circle class="countdown-circle-fg clipped" cx="100" cy="100" r="90"></circle>
                                </svg>
                                <div class="countdown-wrap">
                                    <div class="countdown-counter" data-counter-seconds="">00</div>
                                    <div class="countdown-title">Секунд</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-default section-md">
        <div class="container">
            <h2 class="title-icon"><span class="icon icon-default mercury-icon-news"></span><span>Последние <span
                    class="text-light">Новости</span></span></h2>

            <div class="pinned-news">
                {% for news in pinned_news_list %}
                    <div class="box-image-small {% cycle 'box-image-small-left' 'box-image-small-right' %}">
                        <div class="item-image bg-image" style="background-image: url({{ news.image.image.url }});"></div>
                        <div class="item-body wow {% cycle 'fadeInLeft' 'fadeInRight' %}">
                            <div class="news-header">
                                <i class="fa fa-thumb-tack pinned-icon" aria-hidden="true"></i>
                                <h4 class="news-title"><a href="{% url 'news_detail' news.pk %}">{{ news.title }}</a>
                                </h4>
                            </div>
                            <p class="news-description">{{ news.description|truncatewords:30 |safe }}</p>
                            <a class="btn button-primary" style="margin-top: 5px"
                               href="{% url 'news_detail' news.pk %}">Подробнее</a>
                            <p class="news-date">{{ news.created_at|date:"F d, Y" }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="regular-news">
                {% for news in news_list %}
                    <div class="box-image-small {% cycle 'box-image-small-left' 'box-image-small-right' %}">
                        <div class="item-image bg-image" style="background-image: url({{ news.image.image.url }});"></div>
                        <div class="item-body wow {% cycle 'fadeInLeft' 'fadeInRight' %}">
                            <h4 class="news-title"><a href="{% url 'news_detail' news.pk %}">{{ news.title }}</a></h4>
                            <p class="news-description">{{ news.description|truncatewords:30 }}</p>
                            <a class="btn button-primary" style="margin-top: 5px"
                               href="{% url 'news_detail' news.pk %}">Подробнее</a>
                            <p class="news-date">{{ news.created_at|date:"F d, Y" }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center mt-4">
                <a class="btn btn-secondary btn-lg" href="{% url 'news_list' %}">Читать все новости</a>
            </div>
        </div>
    </section>
    {% include 'include/footer.html' %}
</div>
<div class="snackbars" id="form-output-global"></div>
<script src="{% static 'js/core.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% include 'include/notifications.html' %}
</body>
</html>