{% load static %}
{% include 'base.html' %}
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>О Департаменте</title>
    <style>
        .history-item {
            position: relative;
        }

        .img-container {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-in-out;
        }

        .history-item:hover .img-container {
            max-height: 200px;
        }

        .img-container img {
            width: 100%;
            height: auto;
            display: block;
        }

        ul.list-lg {
            list-style: none;
            padding: 0;
        }

        ul.list-lg li {
            margin-bottom: 20px;
        }

        .nickname-frame {
            display: inline-block;
            padding: 1px;
            width: 100%;
            margin-top: 5px;
            background-color: #fff;
            border: 4px solid transparent;
        }

        .gold-frame {
            border-color: gold;
            border-width: 3px;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;
            color: #333;
        }
        .silver-frame {
            border-color: #bab7b7;
            border-width: 3px;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;
            color: #333;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            overflow: auto;
        }

        .modal-content {
            background-color: #313f49;
            margin: auto;
            padding: 20px;
            border: 1px solid #ffffff;
            width: 80%;
            max-width: 600px;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 1001;
        }

        @media screen and (max-width: 768px) {
            .modal-content {
                width: 75%;
                max-width: 400px;
            }
        }

        .close {
            position: absolute;
            right: 10px;
            top: 5px;
            color: #ffffff;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

        .close:hover,
        .close:focus {
            color: #ffffff;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="preloader">
    <div class="preloader-body">
        <div class="loader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <p>Загрузка...</p>
    </div>
</div>
<div class="page">
    {% include 'include/navbar.html' %}
    <div class="rd-navbar-bg novi-background bg-image"
         style="background-image: url('{% static 'images/bg-navbar.png' %}')"></div>
    <section class="breadcrumbs-custom bg-image novi-background bg-primary">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="{% url 'departments:home' %}">Главная</a></li>
                <li class="active">О нас</li>
            </ul>
        </div>
    </section>
    <!-- Our Story-->
    <section class="section section-lg bg-default">
        <div class="container">
            <h2><span class="text-light">Наша</span> история</h2>
            <div class="row row-30 justify-content-xl-between">
                <div class="col-md-6 col-xl-6">
                    <div class="history-item">
                        <div class="box-shadow-2">
                            <div class="box-shadow-header">
                                <div class="unit flex-column flex-md-row">
                                    <div class="unit-left">
                                        <div class="heading-5">2017</div>
                                    </div>
                                    <div class="unit-body">
                                        <p>В феврале 2017 года в проекте был основан департамент полиции города
                                            Сан-Фиерро. С самого начала департамент зарекомендовал себя как образец
                                            профессионализма и эффективности, благодаря усилиям и преданности своих
                                            первых сотрудников.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <img class="img-responsive" src="{% static 'images/about-sfpd.png' %}" alt=""
                                     width="569"
                                     height="169"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-5">
                    <ul class="list-lg">
                        <li class="history-item">
                            <div class="heading-5">2018</div>
                            <p class="p-offset-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a
                                fermentum turpis. Nulla metus diam, feugiat ac lectus vitae, tempus porttitor sem.
                                Vestibulum non lacus vulputate, placerat ligula ut, dignissim tortor.</p>
                            <div class="img-container">
                                <img class="img-responsive hidden-image" src="{% static 'images/about-sfpd.png' %}"
                                     alt="2018" width="569" height="169"/>
                            </div>
                        </li>
                        <li class="history-item">
                            <div class="heading-5">2019</div>
                            <p class="p-offset-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a
                                fermentum turpis. Nulla metus diam, feugiat ac lectus vitae, tempus porttitor sem.
                                Vestibulum non lacus vulputate, placerat ligula ut, dignissim tortor. Nulla facilisi.
                                Curabitur accumsan metus mauris, non iaculis magna pulvinar sit amet. Aenean sagittis
                                purus non egestas eleifend.</p>
                            <div class="img-container">
                                <img class="img-responsive hidden-image" src="{% static 'images/about-sfpd.png' %}"
                                     alt="2019" width="569" height="169"/>
                            </div>
                        </li>
                        <li class="history-item">
                            <div class="heading-5">2020</div>
                            <p class="p-offset-1">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                                voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                            <div class="img-container">
                                <img class="img-responsive hidden-image" src="{% static 'images/about-sfpd.png' %}"
                                     alt="2020" width="569" height="169"/>
                            </div>
                        </li>
                        <li class="history-item">
                            <div class="heading-5">2024</div>
                            <p class="p-offset-1">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                                voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                            <div class="img-container">
                                <img class="img-responsive hidden-image" src="{% static 'images/about-sfpd.png' %}"
                                     alt="2020" width="569" height="169"/>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-lg bg-gray-100">
        <div class="container text-center text-lg-left">
            <h2><span class="text-light">Наши</span> преимущества</h2>
            <div class="row row-30 number-counter-2">
                <div class="col-md-4">
                    <div class="box-numbered-left unit">
                        <div class="unit-left">
                            <div class="index-counter">01</div>
                        </div>
                        <div class="unit-body">
                            <h5 class="title">Высокий уровень доверия</h5>
                            <div class="content">SFPD зарекомендовал себя как один из самых надежных и уважаемых
                                департаментов, благодаря профессионализму и честности своих сотрудников.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-numbered-left unit">
                        <div class="unit-left">
                            <div class="index-counter">02</div>
                        </div>
                        <div class="unit-body">
                            <h5 class="title">Современное оснащение</h5>
                            <div class="content">Мы используем передовые технологии и оборудование, что позволяет нам
                                эффективно бороться с преступностью и обеспечивать безопасность граждан.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-numbered-left unit">
                        <div class="unit-left">
                            <div class="index-counter">03</div>
                        </div>
                        <div class="unit-body">
                            <h5 class="title">Профессиональное развитие</h5>
                            <div class="content">SFPD предлагает широкий спектр тренингов и программ повышения
                                квалификации, что способствует карьерному росту и профессиональному развитию наших
                                сотрудников.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-30 number-counter-2">
                <div class="col-md-4">
                    <div class="box-numbered-left unit">
                        <div class="unit-left">
                            <div class="index-counter">04</div>
                        </div>
                        <div class="unit-body">
                            <h5 class="title">Сотрудничество с сообществом</h5>
                            <div class="content">Мы активно взаимодействуем с местным сообществом, проводя совместные
                                мероприятия и программы, направленные на улучшение общественной безопасности.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-numbered-left unit">
                        <div class="unit-left">
                            <div class="index-counter">05</div>
                        </div>
                        <div class="unit-body">
                            <h5 class="title">Честность и прозрачность</h5>
                            <div class="content">Мы придерживаемся принципов честности и прозрачности во всех наших
                                действиях, что укрепляет доверие и уважение к нашему департаменту.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-numbered-left unit">
                        <div class="unit-left">
                            <div class="index-counter">06</div>
                        </div>
                        <div class="unit-body">
                            <h5 class="title">Высокая квалификация</h5>
                            <div class="content">Наши сотрудники проходят строгий отбор и регулярные тренировки, что
                                гарантирует высокий уровень их профессиональной подготовки и компетентности.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="parallax-container box-image-left" data-parallax-img="{% static 'images/job.png' %}">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInLeft">
                    <div class="section-lg section-lg-top-100">
                        <h2 class="title-icon title-icon-2" style="color: white"><span
                                class="icon icon-default mercury-icon-jobs"></span><span>Трудоуcстройство<br><span
                                class="text-light">Вступай в SFPD</span></span></h2>
                        <p class="big" style="color: white">У нас имеется ряд возможностей для вступления в наш департамент</p>
                        <div class="group-sm group-wrap-2">
                            <a
                                class="button button-icon button-icon-right button-secondary"
                                href="https://docs.google.com/forms/d/e/1FAIpQLSc3dyeczDSUIE3YEr9Igmivdmm0mKw-t0jibMBt7y-xImDUzw/viewform" target="_blank"><span>Контрактная служба</span><span
                                class="icon fa fa-cogs"></span></a>
                            <a
                                class="button button-icon button-icon-right button-secondary"
                                href="https://evolve-rp.su/threads/384319/" target="_blank"><span>Переводы</span><span
                                class="icon fa fa-android"></span></a>
                            <a
                                class="button button-icon button-icon-right button-secondary"
                                href="https://docs.google.com/forms/d/e/1FAIpQLScsp2Ymkh5QFO8VjdQj9TyYwcW7D2HaLXpMuDwEVlWtr58V_g/viewform" target="_blank"><span>Полицейская академия</span><span
                                class="icon fa fa-android"></span></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-lg bg-gray-800">
        <div class="container text-center text-xl-left">
            <h2>Выдающиеся <span class="text-light">Шерифы</span></h2>
            <div class="owl-carousel owl-carousel-4 text-center" data-items="1" data-sm-items="3" data-md-items="4"
                 data-lg-items="5" data-xl-items="6" data-dots="true" data-nav="false" data-stage-padding="15"
                 data-loop="false" data-margin="30" data-mouse-drag="false">
                <div class="item">
                    <a class="link-image" href="javascript:void(0);" onclick="openModal('modal1');">
                        <img src="{% static 'images/sherif/Dimentii.webp' %}"  width="200" height="90"/>
                    </a>
                    <div class="nickname-text">
                        <div class="nickname-frame gold-frame">
                            Dimentii Lazarev
                        </div>
                    </div>
                </div>
                <div class="item">
                    <a class="link-image" href="javascript:void(0);" onclick="openModal('modal2');">
                        <img src="{% static 'images/sherif/Gorden Needes.webp' %}" alt="" width="200" height="90"/>
                    </a>
                    <div class="nickname-text">
                        <div class="nickname-frame silver-frame">
                            Gorden Needes
                        </div>
                    </div>
                </div>
                <div class="item">
                    <a class="link-image" href="javascript:void(0);" onclick="openModal('modal3');">
                        <img src="{% static 'images/bg-pattern-boxed.png' %}" alt="" width="200" height="90"/>
                    </a>
                    <div class="nickname-text">
                        <div class="nickname-frame gold-frame">
                            Simon Frolov
                        </div>
                    </div>
                </div>
                <div class="item">
                    <a class="link-image" href="javascript:void(0);" onclick="openModal('modal4');">
                        <img src="{% static 'images/bg-pattern-boxed.png' %}" alt="" width="200" height="90"/>
                    </a>
                    <div class="nickname-text">
                        <div class="nickname-frame gold-frame">
                            Daniel Gurinifero
                        </div>
                    </div>
                </div>

                <!-- Добавьте другие элементы слайдера здесь -->
            </div>
        </div>

        <!-- Модальное окно -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('modal1')">&times;</span>
                <p>4-х кратный шериф департамента, внес большой вклад в развитие</p>
            </div>
        </div>
        <div id="modal2" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('modal2')">&times;</span>
                <p>4-х кратный шериф департамента, внес большой вклад в развитие</p>
            </div>
        </div>
        <div id="modal3" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('modal3')">&times;</span>
                <p>4-х кратный шериф департамента, внес большой вклад в развитие</p>
            </div>
        </div>

        <div id="modal4" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('modal4')">&times;</span>
                <p>Превосходный лидер SFPD 2021, смог вывести средний онлайн фракции из 10 до 45 и этим утёр нос другим департаментам</p>
            </div>
        </div>
    </section>
    <section class="section section-lg bg-default">
        <div class="container text-center text-lg-left">
            <h2><span class="text-light">Руководство</span> Департамента</h2>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="team-box-left">
                        <div class="team-meta unit align-items-center">
                            <div class="unit-left">
                                <img class="img" src="{% static 'images/testimonials-2-138x138.jpg' %}" alt=""
                                     width="138"
                                     height="69"/>
                            </div>
                            <div class="unit-body">
                                <h5 class="title">Jennifer Ruthless</h5>
                                <div class="subtitle">Шериф департамента</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-40">
                <div class="col-md-4">
                    <div class="team-box-left">
                        <div class="team-meta unit align-items-center">
                            <div class="unit-left"><img class="img"
                                                        src="{% static 'images/testimonials-1-138x138.jpg' %}" alt=""
                                                        width="138" height="69"/>
                            </div>
                            <div class="unit-body">
                                <h5 class="title">Liviano Ruthless</h5>
                                <div class="subtitle">Полковник</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-box-left">
                        <div class="team-meta unit align-items-center">
                            <div class="unit-left"><img class="img"
                                                        src="{% static 'images/testimonials-1-138x138.jpg' %}" alt=""
                                                        width="138" height="69"/>
                            </div>
                            <div class="unit-body">
                                <h5 class="title">John Harrelson</h5>
                                <div class="subtitle">Полковник</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-box-left">
                        <div class="team-meta unit align-items-center">
                            <div class="unit-left"><img class="img"
                                                        src="{% static 'images/testimonials-1-138x138.jpg' %}" alt=""
                                                        width="138" height="69"/>
                            </div>
                            <div class="unit-body">
                                <h5 class="title">Daniel Gurinifero</h5>
                                <div class="subtitle">Полковник</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-40">
                <div class="col-md-4">
                    <div class="team-box-left">
                        <div class="team-meta unit align-items-center">
                            <div class="unit-left"><img class="img"
                                                        src="{% static 'images/testimonials-1-138x138.jpg' %}" alt=""
                                                        width="138" height="69"/>
                            </div>
                            <div class="unit-body">
                                <h5 class="title">Gabriel Holmberg</h5>
                                <div class="subtitle">Подполковник</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-box-left">
                        <div class="team-meta unit align-items-center">
                            <div class="unit-left"><img class="img"
                                                        src="{% static 'images/testimonials-1-138x138.jpg' %}" alt=""
                                                        width="138" height="69"/>
                            </div>
                            <div class="unit-body">
                                <h5 class="title">-</h5>
                                <div class="subtitle">Подполковник</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-box-left">
                        <div class="team-meta unit align-items-center">
                            <div class="unit-left"><img class="img"
                                                        src="{% static 'images/testimonials-1-138x138.jpg' %}" alt=""
                                                        width="138" height="69"/>
                            </div>
                            <div class="unit-body">
                                <h5 class="title">Vladik Pavlenko</h5>
                                <div class="subtitle">Подполковник</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-40">
                <div class="col-md-4">
                    <div class="team-box-left">
                        <div class="team-meta unit align-items-center">
                            <div class="unit-left"><img class="img"
                                                        src="{% static 'images/testimonials-1-138x138.jpg' %}" alt=""
                                                        width="138" height="69"/>
                            </div>
                            <div class="unit-body">
                                <h5 class="title">-</h5>
                                <div class="subtitle">Майор</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-box-left">
                        <div class="team-meta unit align-items-center">
                            <div class="unit-left"><img class="img"
                                                        src="{% static 'images/testimonials-1-138x138.jpg' %}" alt=""
                                                        width="138" height="69"/>
                            </div>
                            <div class="unit-body">
                                <h5 class="title">-</h5>
                                <div class="subtitle">Майор</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-box-left">
                        <div class="team-meta unit align-items-center">
                            <div class="unit-left"><img class="img"
                                                        src="{% static 'images/testimonials-1-138x138.jpg' %}" alt=""
                                                        width="138" height="69"/>
                            </div>
                            <div class="unit-body">
                                <h5 class="title">Mike Holmberg</h5>
                                <div class="subtitle">Майор</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="team-box-left">
                        <div class="team-meta unit align-items-center">
                            <div class="unit-left">
                                <img class="img" src="{% static 'images/testimonials-2-138x138.jpg' %}" alt=""
                                     width="138"
                                     height="69"/>
                            </div>
                            <div class="unit-body">
                                <h5 class="title">Ronnie Montes</h5>
                                <div class="subtitle">Майор</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'include/footer.html' %}
</div>
<div class="snackbars" id="form-output-global"></div>
<script src="{% static 'js/core.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script>
    function openModal(modalId) {
        var modal = document.getElementById(modalId);
        if (modal) {
            modal.style.display = "block";
        }
    }

    function closeModal(modalId) {
        var modal = document.getElementById(modalId);
        if (modal) {
            modal.style.display = "none";
        }
    }
</script>
</body>
</html>