{% load static %}
{% include 'base.html' %}
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>Central Patrol Division</title>
</head>
<style>
    .responsive-image {
        background-size: cover;
        width: 946px;
        height: 485px;

    }

    @media (max-width: 768px) {
        .responsive-image {
            width: 380px;
            height: 196px;
        }
    }
</style>
<body>
<div class="preloader">
    <div class="preloader-body">
        <div class="loader">
            <img class="preloader-ico" src="{% static 'images/sfpd.ico' %}" alt="">
        </div>
        <H5>Загрузка...</H5>
    </div>
</div>
<div class="page">
    {% include 'include/navbar.html' %}
    <section class="section swiper-container swiper-slider swiper-slider-1 context-dark" data-loop="true"
             data-autoplay="5000" data-simulate-touch="false">
        <div class="swiper-wrapper">
            <div class="swiper-slide " data-slide-bg="{% static 'images/cpd/cpd-main.png' %}">
                <div class="swiper-slide-caption section-lg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                                <h1><span class="d-block text-with-border" data-caption-animate="fadeInUp"
                                          data-caption-delay="100">Central Patrol Division</span><span
                                        class="d-block text-light text-with-border" data-caption-animate="fadeInUp"
                                        data-caption-delay="200">Chief of CPD</span></h1>
                                <p class="lead text-with-border" data-caption-animate="fadeInUp"
                                   data-caption-delay="350">{{ chief_of_cpd.nickname }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide " data-slide-bg="{% static 'images/cpd/bg-cpd-main1.png' %}">
                <div class="swiper-slide-caption section-lg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                                <h1><span class="d-block text-with-border" data-caption-animate="fadeInUp"
                                          data-caption-delay="100">Central Patrol Division</span><span
                                        class="d-block text-light text-with-border" data-caption-animate="fadeInUp"
                                        data-caption-delay="200">Dep.Chief of CPD</span></h1>
                                <p class="lead text-with-border" data-caption-animate="fadeInUp"
                                   data-caption-delay="350">{{ dep_chief1_of_cpd.nickname }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide " data-slide-bg="{% static 'images/cpd/bg-cpd-main2.png' %}">
                <div class="swiper-slide-caption section-lg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                                <h1><span class="d-block text-with-border" data-caption-animate="fadeInUp"
                                          data-caption-delay="100">Central Patrol Division</span><span
                                        class="d-block text-light text-with-border" data-caption-animate="fadeInUp"
                                        data-caption-delay="200">Dep.Chief of CPD</span></h1>
                                <p class="lead text-with-border" data-caption-animate="fadeInUp"
                                   data-caption-delay="350">{{ dep_chief2_of_cpd.nickname }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Swiper Pagination-->
        <div class="swiper-pagination-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Icon List 2-->
    <section class="section section-sm section-sm-bottom-100 bg-primary text-center">
        <div class="container">
            <h2 class="mb-5">Патрульная и военная полиция SFPD</h2>
            <h3 class="mb-5">Особенности отдела</h3>
            <div class="row">
                <div class="col-md-4 wow fadeInUp" data-wow-duration="1s">
                    <div class="box-icon-2">
                        <div class="icon novi-icon mercury-icon-group"></div>
                        <h5 class="title">Охрана порядка</h5>
                        <p class="text">Патрулирования и посты с напарниками, выявление нарушений и принятие санкционных
                            мер относительно нарушителя, захватывающие погони за преступниками гарантированы.</p>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="box-icon-2">
                        <div class="icon novi-icon mercury-icon-chart-up"></div>
                        <h5 class="title">Огромный коллектив</h5>
                        <p class="text">Наш отдел является наибольшим в департаменте по количеству сотрудников с
                            дружелюбным коллективом, где каждый сможет тебе с радостью помочь.</p>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                    <div class="box-icon-2">
                        <div class="icon novi-icon mercury-icon-target"></div>
                        <h5 class="title">Военная полиция</h5>
                        <p class="text">Создание безопасных маршрутов фур материального снабжения. Наведение порядка в
                            порту и на военных призывах. Патрули с сотрудниками армий.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-lg bg-default">
        <div class="container text-center text-lg-left">
            <h2><span class="text-light">Руководство</span> отдела</h2>
            <div class="row row-40">
                <div class="col-md-4">
                    <div class="team-box-left">
                        <div class="team-meta unit align-items-center">
                            <div class="unit-left">
                                {% if chief_of_cpd.photo %}
                                    <img class="img" src="{{ chief_of_cpd.photo.url }}" alt="" width="138" height="69"/>
                                {% else %}
                                    <img class="img" src="{% static 'images/incognito.png' %}" alt="" width="138"
                                         height="69"/>
                                {% endif %}
                            </div>
                            <div class="unit-body">
                                <h5 class="title">{{ chief_of_cpd.nickname }}</h5>
                                <div class="subtitle">Chief of CPD</div>
                            </div>
                        </div>
                        <div class="content">{{ chief_of_cpd.description }}.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-box-left">
                        <div class="team-meta unit align-items-center">
                            {% if dep_chief1_of_cpd.photo %}
                                <img class="img" src="{{ dep_chief1_of_cpd.photo.url }}" alt="" width="138"
                                     height="69"/>
                            {% else %}
                                <img class="img" src="{% static 'images/incognito.png' %}" alt="" width="138"
                                     height="69"/>
                            {% endif %}
                            <div class="unit-body">
                                <h5 class="title">{{ dep_chief1_of_cpd.nickname }}</h5>
                                <div class="subtitle">Dep.Chief of CPD</div>
                            </div>
                        </div>
                        <div class="content">{{ dep_chief1_of_cpd.description }}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-box-left">
                        <div class="team-meta unit align-items-center">
                            {% if dep_chief2_of_cpd.photo %}
                                <img class="img" src="{{ dep_chief2_of_cpd.photo.url }}" alt="" width="138"
                                     height="69"/>
                            {% else %}
                                <img class="img" src="{% static 'images/incognito.png' %}" alt="" width="138"
                                     height="69"/>
                            {% endif %}
                            <div class="unit-body">
                                <h5 class="title">{{ dep_chief2_of_cpd.nickname }}</h5>
                                <div class="subtitle">Dep.Chief of CPD</div>
                            </div>
                        </div>
                        <div class="content">{{ dep_chief2_of_cpd.description }}
                        </div>
                    </div>
                </div>
    </section>
    <section class="section bg-gray-100 box-image-left">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-md section-md-bottom-50">
                        <h2 class="title-icon"><span class="icon icon-default mercury-icon-speak"></span><span>Интересные факты</span>
                        </h2>
                        <!-- Owl Carousel-->
                        <div class="owl-carousel owl-carousel-1" data-items="1" data-dots="true" data-nav="false"
                             data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false">
                            <blockquote class="quote quote-simple">
                                <q>Пройдя кадетское обучение, получив звание Офицер, без необходимости переводиться,
                                    вы сразу станете членом Патрульной Полиции SFPD
                                </q>
                                <div class="quote-meta">
                                    <div class="author">
                                        <cite>{{ chief_of_cpd.nickname }}</cite>
                                    </div>
                                    <div class="position">Chief of CPD</div>
                                </div>
                            </blockquote>
                            <blockquote class="quote quote-simple">
                                <q>Отдел является основой практической подготовки в полиции, где вы столкнетесь с
                                    различными ситуациями, для совладания с которыми необходим опыт службы.</q>
                                <div class="quote-meta">
                                    <div class="author">
                                        <cite>{{ chief_of_cpd.nickname }}</cite>
                                    </div>
                                    <div class="position">Chief of CPD</div>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-image-item novi-background bg-image">
            <div class="responsive-image" style="background-image: url('{% static 'images/cpd/cpd-info.png' %}')"></div>
    </section>
    <section class="parallax-container box-image-left"
             data-parallax-img="{% static 'images/cpd/bg-cpd-main.png' %}">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInLeft">
                    <div class="section-lg section-lg-top-100">
                        <h2 class="title-icon title-icon-2" style="color: white"><span
                                class="icon mercury-icon-touch"></span><span>
Полезные ссылки<br></span></h2>
                        <p class="big " style="color: white">Ниже представлены полезные ссылки для комфортной игры в
                            нашем отделе</p>
                        <div class="group-sm group-wrap-2">
                            <a class="button button-icon button-icon-right button-secondary"
                               href="https://discord.gg/ddnRXcQJCV" target="_blank">
                                <span>Спец. рация SFPD</span>
                                <img src="{% static 'images/discord.svg' %}" alt="Discord Icon" width="25">
                            </a>
                            <a class="button button-icon button-icon-right button-primary"
                               href="https://docs.google.com/document/d/15FDvLRCT9KbxNSFoh6vErrHrz7SorBtWbdVr25q4xvI/edit"
                               target="_blank">
                                <span>Мануал офицера</span>
                                <span
                                        class="icon fa fa-book"></span>
                            </a>

                            <a class="button button-icon button-icon-right button-primary"
                               href="https://docs.google.com/forms/d/e/1FAIpQLSc58WkT7XA1u3uCVJf2lREuwtBT_NYtkY6PvnfT8WJNHocEpg/viewform"
                               target="_blank">
                                <span>Рапорт на повышение</span>
                                <span
                                        class="icon fa fa-line-chart"></span>
                            </a>
                            <a class="button button-icon button-icon-right button-excel"
                               href="https://docs.google.com/spreadsheets/d/10suCWj2o6Cy9J5tp-I9jMW9HinTgFq1T1yPlsAjJGPE/edit?gid=1800162722#gid=1800162722"
                               target="_blank">
                                <span>Таблица отдела</span>
                                <span
                                        class="icon fa fa-table"></span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-image-item box-image-video novi-background bg-image"><a
                class="icon novi-icon fa fa-youtube-play"
                href="https://www.youtube.com/watch?v=1ehhpTuivWg"
                data-lightgallery="item"></a></div>
    </section>
    <!-- Our Mission-->
    <section class="section bg-default section-md">
        <div class="container">
            <div class="row row-30">
                <div class="col-md-6">
                    <h2 class="title-icon"><span class="icon icon-default mercury-icon-target-2"></span><span>Central Patrol Division</span>
                    </h2>
                    <p class="big">Central Patrol Division — главный патрульный дивизион полицейского департамента
                        г.Сан-Фиерро, предназначен для патрулирование улиц города, слежкой за гражданским населением, а
                        также оказание помощи нуждающимся гражданам, реагирование на вызовы и нарушение гражданских.
                        Разделяется на подотделы Central Patrol Units и Central Military Units</p>
                    <ul class="list-marked-2">
                        <li>Работа по ориентировкам или же "зачистка" улиц</li>
                        <li>Охрана порядка и пресечением нарушений законодательств со стороны граждан</li>
                        <li>Сопровождение военных во время перевозки боеприпасов</li>
                        <li>Помощь военнослужащим и отбитие воинских частей</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-6">
                            <!--Box counter-->
                            <div class="box-counter">
                                <div class="box-counter-main">
                                    <div class="counter">1000+</div>
                                </div>
                                <p class="box-counter-title">Обученых сотрудников</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <!--Box counter-->
                            <div class="box-counter">
                                <div class="box-counter-main">
                                    <div class="counter">1500+</div>
                                </div>
                                <p class="box-counter-title">Проведено задержаний</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <!--Box counter-->
                            <div class="box-counter">
                                <div class="box-counter-main">
                                    <div class="counter">2000+</div>
                                </div>
                                <p class="box-counter-title">Выписанных штрафов</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <!--Box counter-->
                            <div class="box-counter">
                                <div class="box-counter-main">
                                    <div class="counter">99</div>
                                    <span>%</span>
                                </div>
                                <p class="box-counter-title">Уровень удовлетворенности</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'include/footer.html' %}
</div>
<div class="snackbars" id="form-output-global"></div>
<script src="{% static 'js/core.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% include 'include/notifications.html' %}
</body>
</html>