{% load static %}
{% include 'base.html' %}
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>Сброс пароля</title>
</head>
<style>
    .highlight-link {
        color: #f06582;
        font-weight: bold;
        text-decoration: underline;
        transition: color 0.3s ease;
    }

    .highlight-link:hover {
        color: #e5244b;
    }
</style>
<body>
<div class="preloader">
    <div class="preloader-body">
        <div class="loader">
            <img class="preloader-ico" src="{% static 'images/password.webp' %}" alt="">
        </div>
        <H5>Загрузка...</H5>
    </div>
</div>
<div class="page">
    {% include 'include/navbar.html' %}
    <div class="rd-navbar-bg novi-background bg-image"
         style="background-image: url('{% static 'images/bg-navbar.png' %}')"></div>
    <section class="breadcrumbs-custom bg-image novi-background bg-primary">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="{% url 'departments:home' %}">Главная</a></li>
                <li class="active">Сброс пароля</li>
            </ul>
        </div>
    </section>
    <section class="section section-md">
        <div class="container">
            <div class="row row-40">
                <div class="col-md-10 col-lg-6">
                    <h2>Пароль успешно изменен!</h2>
                    <p>Поздравляем! Ваш пароль был успешно изменен. Мы рады, что вы остаетесь с нами.</p>
                    <p>Вы можете теперь <a href="{% url 'user_login' %}" class="highlight-link">войти</a> используя
                        новый пароль. Не забудьте сохранить его в надежном месте.</p>
                    <h3>Советы по безопасности:</h3>
                    <ul class="list-marked-2">
                        <li>Используйте уникальные пароли для разных учетных записей.</li>
                        <li>Регулярно обновляйте пароли для повышения безопасности.</li>
                        <li>Не делитесь своим паролем с другими людьми.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    {% include 'include/footer.html' %}
</div>
<div class="snackbars" id="form-output-global"></div>
<script src="{% static 'js/core.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% include 'include/notifications.html' %}
</body>
</html>
