{% load static %}
<footer class="section footer-classic">
    <div class="footer-inner-1">
        <div class="container">
            <div class="row row-40">
                <div class="col-md-5 col-lg-3">
                    <h5>Наши контакты</h5>
                    <ul class="contact-list font-weight-bold">
                        <li>
                            <div class="unit unit-spacing-xs">
                                <div class="unit-left">
                                    <div class="icon icon-sm icon-primary novi-icon">
                                        <img src="{% static 'images/discord.svg' %}" alt="Discord Icon" width="16px"
                                             height="16px">
                                    </div>
                                </div>
                                <div class="unit-body">
                                    <a href="https://discord.gg/ddnRXcQJCV" target="_blank">Discord</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="unit unit-spacing-xs">
                                <div class="unit-body"><a href="https://evolve-rp.su/index.php?forums/46/"
                                                          target="_blank"><i class="fa fa-newspaper-o"
                                                                             aria-hidden="true"></i> Форум</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="unit unit-spacing-xs">
                                <div class="unit-body">
                                    <a href="https://vk.com/saintlouis_sfpd" target="_blank"><i class="fa fa-vk"
                                                                                                aria-hidden="true"></i>
                                        Официальное сообщество<br>департамента</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="unit unit-spacing-xs">
                                <div class="unit-body">
                                    <ul class="list-0">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> Рабочее время департамента
                                        <li>Будни: 9:00–21:00</li>
                                        <li>Выходные: 10:00–20:00</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-5">
                    <h5>Ссылки</h5>
                    <div class="row row-5 justify-content-between">
                        <div class="col-sm-6">
                            <ul class="font-weight-bold">
                                <li><a href="{% url 'departments:home' %}"><i
                                        class="fas fa-home" style="margin-right: 2px;"></i>Главная</a></li>
                                <li><a href="{% url 'news_list' %}"><i
                                        class="fas fa-newspaper" style="margin-right: 2px;"></i>Новости</a></li>
                                <li><a href="{% url 'departments:about' %}"><i
                                        class="fas fa-book" style="margin-right: 2px;"></i>О департаменте</a></li>
                                <li><a href="{% url 'departments:faq' %}"><i
                                        class="fas fa-question-circle" style="margin-right: 2px;"></i> FAQ</a></li>
                                {#                                <li><a href="{% url 'departments:hall_of_fame' %}">Доска почета</a></li>#}
                                <li><a href="{% url 'departments:thank_board' %}"><i
                                        class="fas fa-desktop"></i> Благодарственная доска</a></li>
                                <li><a href="{% url 'profile_list' %}"><i
                                        class="fas fa-users"></i> Список пользователей</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4 col-lg-6 col-xxl-5">
                            <ul class="font-weight-bold">
                                <li><a href="{% url 'departments:pa_detail' %}"><i
                                        class="fas fa-graduation-cap"></i> Police Academy</a></li>
                                <li><a href="{% url 'departments:cpd_detail' %}"><i
                                        class="fas fa-car"></i> CPD</a></li>
                                <li><a href="{% url 'departments:db_detail' %}"><i
                                        class="fas fa-user-secret"></i> Detective Bureau</a></li>
                                <li><a href="{% url 'departments:swat_detail' %}"><i
                                        class="fas fa-hand-peace-o"></i> SWAT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <h5>Поддержка</h5>
                    {% include 'include/supports.html' %}
                </div>
            </div>
        </div>
    </div>
    <div class="footer-inner-2">
        <div class="container">
            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"> </span> San-Fierro Police
                Department. Все права защищены.
                Developer by <a href="https://vk.com/lazarev312" target="_blank">Dimentii Lazarev</a></p>
        </div>
    </div>
</footer>