<footer class="section footer-classic">
    <div class="footer-inner-1">
        <div class="container">
            <div class="row row-40">
                <div class="col-md-5 col-lg-3">
                    <h5>Наши контакты</h5>
                    <ul class="contact-list font-weight-bold">
                        <li>
                            <div class="unit unit-spacing-xs">
                                <div class="unit-left">
                                    <div class="icon icon-sm icon-primary novi-icon mdi mdi-android"></div>
                                </div>
                                <div class="unit-body"><a href="https://discord.gg/ddnRXcQJCV">Discord</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="unit unit-spacing-xs">
                                <div class="unit-left">
                                    <div class="icon icon-sm icon-primary novi-icon mdi mdi-phone"></div>
                                </div>
                                <div class="unit-body"><a href="https://vk.com/saintlouis_sfpd">Официальное сообщество<br>департамента</a></div>
                            </div>
                        </li>
                        <li>
                            <div class="unit unit-spacing-xs">
                                <div class="unit-left">
                                    <div class="icon icon-sm icon-primary novi-icon mdi mdi-phone"></div>
                                </div>
                                <div class="unit-body"><a href="https://evolve-rp.su/index.php?forums/46/">Форум</a></div>
                            </div>
                        </li>
                        <li>
                            <div class="unit unit-spacing-xs">
                                <div class="unit-left">
                                    <div class="icon icon-sm icon-primary novi-icon mdi mdi-clock"></div>
                                </div>
                                <div class="unit-body">
                                    <ul class="list-0">
                                        <li>Будни: 9:00–21:00</li>
                                        <li>Выходные: 10:00–20:00</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-5">
                    <h5>Ссылки</h5>
                    <div class="row row-5 justify-content-between">
                        <div class="col-sm-6">
                            <ul class="footer-list big">
                                <li><a href="{% url 'home' %}">Главная</a></li>
                                <li><a href="{% url 'about' %}">О департаменте</a></li>
                                <li><a href="{% url 'faq' %}">FAQ</a></li>
                                <li><a href="#">Доска почета</a></li>
                                <li><a href="#">Доска благодарностей</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4 col-lg-6 col-xxl-5">
                            <ul class="footer-list big">
                                <li><a href="{% url 'pa_detail' %}">Police Academy</a></li>
                                <li><a href="{% url 'cpd_detail' %}">Central Patrol Division</a></li>
                                <li><a href="{% url 'swat_detail' %}">SWAT</a></li>
                                <li><a href="{% url 'db_detail' %}">Detective Bureau</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
{#                <div class="col-md-12 col-lg-4">#}
{#                    <h5>Партнеры</h5>#}
                    {#                        <div class="row row-30 align-items-center text-center">#}
                    {#                            <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img#}
                    {#                                    src="{% static 'images/footer-1-brand-1-144x70.png' %}" alt="" width="144"#}
                    {#                                    height="35"/></a></div>#}
                    {#                            <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img#}
                    {#                                    src="{% static 'images/footer-1-brand-2-121x68.png' %}" alt="" width="121"#}
                    {#                                    height="34"/></a></div>#}
                    {#                            <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img#}
                    {#                                    src="{% static 'images/footer-1-brand-3-121x33.png' %}" alt="" width="121"#}
                    {#                                    height="16"/></a></div>#}
                    {#                            <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img#}
                    {#                                    src="{% static 'images/footer-1-brand-4-101x76.png' %}" alt="" width="101"#}
                    {#                                    height="38"/></a></div>#}
                    {#                            <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img#}
                    {#                                    src="{% static 'images/footer-1-brand-5-107x53.png' %}" alt="" width="107"#}
                    {#                                    height="26"/></a></div>#}
                    {#                            <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img#}
                    {#                                    src="{% static 'images/footer-1-brand-6-97x52.png' %}" alt="" width="97"#}
                    {#                                    height="26"/></a></div>#}
                    {#                        </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
    <div class="footer-inner-2">
        <div class="container">
            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span>. Все права защищены.
                Design by <a href="https://vk.com/lazarev312">Dimentii Lazarev</a></p>
        </div>
    </div>
</footer>