<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Контрактная служба SFPD открыта</title>
</head>
<body>
<h1>Уважаемый пользователь,</h1>
<p>Мы рады сообщить вам, что <strong>Контрактная служба SFPD</strong> теперь открыта!</p>
<p>Вы можете подать заявку, перейдя по следующей ссылке:</p>
<p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSc3dyeczDSUIE3YEr9Igmivdmm0mKw-t0jibMBt7y-xImDUzw/viewform">
        Подать заявку
    </a>
</p>
<p>С уважением,<br>SFPD</p>

<p>Если вы больше не хотите получать наши уведомления, вы можете отписаться, перейдя по следующей ссылке:</p>
<p>
    <a href="{{ unsubscribe_link }}">
        Отписаться
    </a>
</p>
</body>
</html>
