{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{% static 'images/sfpd.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Найти элементы уведомления и кнопку закрытия
            const notification = document.getElementById('notification');
            const notificationMessage = document.getElementById('notification-message');
            const closeNotificationBtn = document.getElementById('close-notification');

            // Функция для показа уведомления
            window.showNotification = function (message) {
                notificationMessage.innerText = message;
                notification.classList.add('show'); // Добавить класс 'show', чтобы показать уведомление
            }

            // Функция для скрытия уведомления при нажатии на кнопку закрытия
            closeNotificationBtn.addEventListener('click', function () {
                notification.classList.remove('show'); // Убрать класс 'show', чтобы скрыть уведомление
            });

            // Показать уведомление по умолчанию
            // showNotification('Приветствуем вас на нашем сайте!');
        });
    </script>


</head>