{% load static %}
{% include 'base.html' %}
<!DOCTYPE html>

<html class="wide wow-animation" lang="en">
<head>
    <title>Регистрация</title>
</head>
<body>
<div class="preloader">
    <div class="preloader-body">
        <div class="loader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <p>Загрузка...</p>
    </div>
</div>
<div class="page">
    {% include 'include/navbar.html' %}
    <div class="rd-navbar-bg novi-background bg-image"
         style="background-image: url('{% static 'images/bg-navbar.png' %}')"></div>
    <section class="breadcrumbs-custom bg-image novi-background bg-primary">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="{% url 'departments:home' %}">Главная</a></li>
                <li class="active">Регистрация</li>
            </ul>
        </div>
    </section>
    <section class="section section-md">
        <div class="container">
            <h2>Регистрация</h2>
            <div class="row row-40">
                <div class="col-md-10 col-lg-6">
                    <form data-form-output="form-output-global" data-form-type="contact" method="post" action="."
                          onsubmit="return validateForm()">
                        {% csrf_token %}
                        <div class="row row-10">
                            <div class="col-md-6">
                                <div class="form-wrap">
                                    <input class="form-input" id="name" type="text" name="first_name"
                                           data-constraints="@Required">
                                    <label class="form-label" for="name">Имя</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-wrap">
                                    <input class="form-input" id="surnames" type="text" name="last_name"
                                           data-constraints="@Required">
                                    <label class="form-label" for="surnames">Фамилия</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-wrap">
                                    <input class="form-input" id="username" type="text" name="username"
                                           data-constraints="@Required">
                                    <label class="form-label" for="username">Логин</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-wrap">
                                    <input class="form-input" id="email" type="email" name="email"
                                           data-constraints="@Email @Required">
                                    <label class="form-label" for="email">E-mail</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-wrap">
                                    <input class="form-input" id="password" type="password" name="password"
                                           data-constraints="@Required" oninput="checkPasswords()">
                                    <label class="form-label" for="password">Пароль</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-wrap">
                                    <input class="form-input" id="password2" type="password" name="password2"
                                           data-constraints="@Required" oninput="checkPasswords()">
                                    <label class="form-label" for="password2">Подтвердите пароль</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-wrap">
                                    <p id="password-error" style="color:red; display:none;">Пароли не совпадают!</p>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="button button-size-1 button-block button-primary" type="submit">
                                    Зарегистрироваться
                                </button>
                            </div>
                        </div>
                    </form>
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <p class="mt-4 text-sm text-center">
                        Уже есть аккаунт?
                        <a href="{% url 'user_login' %}"
                           class="text-info text-gradient font-weight-bold">Войдите!</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    {% include 'include/footer.html' %}
</div>
<div class="snackbars" id="form-output-global"></div>
<script>
    function checkPasswords() {
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('password2').value;
        const errorElement = document.getElementById('password-error');

        if (password !== confirmPassword) {
            errorElement.style.display = 'block';
        } else {
            errorElement.style.display = 'none';
        }
    }

    function validateForm() {
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('password2').value;

        if (password !== confirmPassword) {
            document.getElementById('password-error').style.display = 'block';
            return false;
        }
        return true;
    }
</script>
<script src="{% static 'js/core.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% include 'include/notifications.html' %}
</body>
</html>